@import "tailwindcss";
@plugin 'tailwind-scrollbar';

input {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid var(--color-zinc-500);
}

::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

/* button {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 8px;
} */